src/OnboardingStatus.Web/Connected Services/ClientService/Client.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Client" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/OnboardingStatusApplicationService_Test/Client?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/OnboardingStatusApplicationService_Test/Client?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/OnboardingStatusApplicationService_Test/Client?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnboardingStatus.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_GetHelloWorld_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloWorld" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetHelloWorld_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientProcess" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClientProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="GetHelloWorld">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetHelloWorld" message="tns:IClientService_GetHelloWorld_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetHelloWorldResponse" message="tns:IClientService_GetHelloWorld_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetClientProcess" message="tns:IClientService_GetClientProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetClientProcessResponse" message="tns:IClientService_GetClientProcess_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHelloWorld">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetHelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientProcess">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetClientProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Client">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://localhost/OnboardingStatusApplicationService_Test/Client" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>