src/OnboardingStatus.Web/Connected Services/ClientService/Client.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/OnboardingStatusApplicationService_Test/Client?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/OnboardingStatus.Data" />
  <xs:element name="GetHelloWorld">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHelloWorldResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetHelloWorldResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDetailMock">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientDetailMockResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/OnboardingStatus.Data" minOccurs="0" name="ClientDetailMockResult" nillable="true" type="q1:ClientDetailMock" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>